body {
  background-color: aquamarine;
  color: darkblue;
}

h1 {
  color: maroon;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 250px;
  padding: 16px;
  border-radius: 10px;
  background: white;
  text-align: center;
}
