body {
  margin: 0;
  padding: 0;
  background-color: aquamarine;
  color: darkblue;
}

h1 {
  color: maroon;
}

.page {
  display: flex;
  flex-direction: column; /* stack vertically */
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px;
}

.logo {
  width: 75%; /* 75% of page width */
  max-width: 750px; /* optional: stop it getting huge */
  height: auto;
  margin-bottom: 24px;
}

.card {
  width: 250px;
  padding: 16px;
  border-radius: 10px;
  background: white;
  text-align: center;
}

.navbar {
  background-color: navy;
  overflow: hidden;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #04aa6d;
  color: white;
}
