body {
  background-color: aquamarine;
  color: darkblue;
}

h1 {
  color: maroon;
}

.page {
  display: flex;
  flex-direction: column; /* stack vertically */
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  width: 75%; /* 75% of page width */
  max-width: 750px; /* optional: stop it getting huge */
  height: auto;
  margin-bottom: 24px;
}

.card {
  width: 250px;
  padding: 16px;
  border-radius: 10px;
  background: white;
  text-align: center;
}
