<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Shiny Tracker{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script src="/static/script.js"></script>
  </head>
  <body>
    <header>Made by Joshua Jewson</header>

    <div>
      <nav class="navbar">
        <a href="{{url_for('index')}}">Home</a>
        <a href="{{url_for('login')}}">Login</a>
        <a href="{{url_for('logout')}}">Logout</a>
      </nav>
    </div>

    <!-- Child content goes here -->
    {% block body %}{% endblock %}

    <footer>&copy; 2026 Joshua Luke</footer>
  </body>
</html>
