<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Shiny Tracker{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />

  </head>
  <body>
    <div>
      <nav class="navbar">
        <a
          href="{{url_for('index')}}"
          class="{% if request.endpoint == 'index' %}active{% endif %}"
          >Home</a
        >
        <a
          href="{{url_for('login')}}"
          class="{% if request.endpoint == 'login' %}active{% endif %}"
          >Login</a
        >
        <a href="{{url_for('logout')}}">Logout</a>
      </nav>
    </div>

    <!-- Child content goes here -->
    {% block body %}{% endblock %}

    <footer>&copy; 2026 Joshua Luke</footer>
    <script src="/static/script.js"></script>
  </body>
</html>
