{% extends "base.html" %} {% block body %}

<div class="page">
  <img
    class="logo"
    id="pokemon-logo"
    src="../static/assets/pokemon-23.svg"
    alt="pokemon logo"
  />
  {% if username %}
  <h1>Welcome {{username.capitalize()}}!</h1>
  {% endif %}
  <div class="card">
    <h1>Search for a Pokemon:</h1>

    <form method="POST">
      <input
        type="text"
        name="pokemon_search"
        placeholder="Enter Pokémon name"
      />
      <button type="submit" name="search_btn">Search</button>
    </form>

    {% if pokemon %}
    <div>
      <h2>{{ pokemon.name.capitalize() }}</h2>
      <img
        id="pokemon-sprite"
        src="{{ pokemon.sprite }}"
        alt="{{ pokemon.name }}"
        data-normal="{{ pokemon.sprite }}"
        data-shiny="{{ pokemon.sprite_shiny }}"
        onclick="toggleShiny(this)"
        style="cursor: pointer"
      />
      <p>Encounters: {{ pokemon.count }}</p>

      <form method="POST">
        <input
          type="hidden"
          name="pokemon_name"
          value="{{ pokemon.name.lower() }}"
        />
        <button type="submit" name="increment_btn">+1 Encounter</button>
      </form>

      <form method="POST">
        <input
          type="hidden"
          name="pokemon_name"
          value="{{ pokemon.name.lower() }}"
        />
        <button type="submit" name="reset_btn">Reset</button>
      </form>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
