<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Shiny Tracker</title>
    <link rel="stylesheet" href="static/styles.css" />
  </head>

  <body>
    <div class="page">
      <div class="card">
        <h1>Search for a Pokemon:</h1>

        <form method="POST">
          <input
            type="text"
            name="pokemon_search"
            placeholder="Enter Pokémon name"
          />
          <button type="submit" name="search_btn">Search</button>
        </form>

        {% if pokemon %}
        <div>
          <h2>{{ pokemon.name }}</h2>
          <img src="{{ pokemon.sprite }}" alt="{{ pokemon.name }}" />
          <p>Encounters: {{ pokemon.count }}</p>

          <form method="POST">
            <input
              type="hidden"
              name="pokemon_name"
              value="{{ pokemon.name.lower() }}"
            />
            <button type="submit" name="increment_btn">+1 Encounter</button>
          </form>
        </div>
        {% endif %}
      </div>
    </div>
  </body>
</html>
