{% extends "base.html" %} {% block body %}

<div class="container">
  <h1>Welcome</h1>
  <form
    id="auth-form"
    data-login-url="{{ url_for('login') }}"
    data-register-url="{{ url_for('register') }}"
    method="post"
  >
    <input
      type="text"
      name="username"
      placeholder="username"
      class="input-field"
    />
    <input type="password" name="password" placeholder="password" />
    <input
      type="submit"
      value="Login"
      class="btn btn-login"
      onclick="setActionForm('login')"
    />
    <input
      type="button"
      value="Register"
      class="btn btn-login"
      onclick="setActionForm('register')"
    />
  </form>
</div>
{% endblock %}
